<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <title> Shuay Liu's CV</title>
  <link href="assets/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="assets/css/cv-print.css" type="text/css" rel="stylesheet" media="print">

  <!-- imports -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.0/css/academicons.min.css"
    type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' type='text/css'>
</head>

<body>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>

  <div class="footer">
    
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'
      type="0ad717eca659b42e402876bd-text/javascript"></script>
    <script type="0ad717eca659b42e402876bd-text/javascript">
  kofiWidgetOverlay.draw('shuayliu', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#323842',
    'floating-chat.donateButton.text-color': '#fff'
  });

  </div>

</body>
</html>